@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sidebar-template {
    height: 100%;
    background-color: white;
}
.sidebar-template-boxes {
    height: 90vh;
    overflow-y: scroll;
    width: 100%;
}
.sidebar-template-box {
    width: 100%;
    background-color: rgb(33, 33, 33);
    border: 1px solid grey;
}
.sidebar-template-box-in {
    width: 100%;
    padding: 0.3rem 0rem;
    width: 90%;
    margin: auto;
}
.sidebar-template-box-in a {
    color: white;
    text-decoration: none;
}