@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
}





.template-one {
    width: 100%;
    background-color: rgb(151, 0, 3);
}
.template-one-in {
    height: 5vh;
    display: flex;
}
.template-one-in-one {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.template-one-in-one h1 {
    color: white;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.5rem;
}


.template-one-in-two {
    width: 30%;
}
.templae-one-in-three {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.templae-one-in-three p {
    color: white;
}
.templae-one-in-three a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.3rem;
    background-color: black;
    margin-left: 1rem;
}


.template-two {
    height: 90vh;
}
.template-two-in {
    height: 90vh;
    overflow-y: scroll;
    width: 100%;
    display: flex;
}
.template-two-in-one{
    width: 20%;
}
.template-two-in-two {
    width: 80%;
    border: 5px solid rgb(182, 181, 181);
    height: 90vh;
    overflow-y: scroll;
}

.template-two-in-two-p {
    color: rgb(182, 181, 181);
    font-size: 2rem;
    font-weight: 500;
    padding: 0.5rem;
    text-align: center;
}











.template-three {
    width: 100%;
    background-color: rgb(151, 0, 3);
}
.template-three-in {
    width: 100%;
}
.Footer {
    height: 5vh;
}
.Footer-in {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Footer-in p {
    color: white;
    font-size: 1rem;
    font-weight: 500;
}
.Footer-in p a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
}


@media only screen and (min-width: 320px) and (max-width: 480px) {


    .template-one {
        width: 100%;
        background-color: rgb(151, 0, 3);
    }
    
    .template-one-in {
        height: 8vh;
        display: flex;
    }
    .template-one-in-one {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .template-one-in-one h1 {
        color: white;
        font-size: 0.8rem;
        font-weight: 500;
        padding: 0.5rem;
    }


    .template-one-in-two {
        width: 0%;
    }
    .templae-one-in-three {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .templae-one-in-three p {
        color: white;
        font-size: 0.8rem;
    }
    .templae-one-in-three a {
       display: none;
    }

    .template-two-in {
        height: 84vh;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .template-two-in-one {
        width: 100%;
        background-color: white;
    }
    .template-two-in-two {
        width: 100%;
    }
    .template-three {
        width: 100%;
        background-color: rgb(151, 0, 3);
    }
    .template-three-in {
        width: 100%;
    }
    .Footer {
        height: 8vh;
    }
    .Footer-in {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .Footer-in p {
        color: white;
        font-size: 0.8rem;
        font-weight: 500;
        text-align: center;
        width: 90%;
        margin: auto;
    }
    .Footer-in p a {
        color: white;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 500;
        font-size: 0.8rem;
    }

}