@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.nav {
    background-color: rgb(151, 0, 3);
    width: 100%;
}
.nav-in {
    width: 95%;
    margin: auto;
    display: flex;
}
.nav-one {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav-one-in {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav-one h1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.nav-one h1 a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 0.5rem 0rem;
}
.nav-two {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-two-in {
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-two-in a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    padding: 0rem 1rem;
}

/* ------------------- home page ------------------- */

.ClubHome {
    width: 100%;
}

.ClubHome-in {
    width: 100%;
    height: 85vh;
}

.club-one {
    width: 90%;
    margin: auto;
    padding: 2rem 0rem 0rem 0rem;
}

.club-one-in {
    width: 40%;
    border-radius: 1rem;
    border: 1px solid black;
    padding: .5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.club-two {
    width: 100%;
    padding: 2rem 0rem;
}

.club-two-in {
    width: 90%;
    margin: auto;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.domain {
    padding: .1rem 1rem;
}

.hidden {
    display: none;
}

.hover {
    background-color: black;
    color: white;
    padding: .1rem 1rem;
    border-radius: .5rem;
}

.club-two-cn-one {
    width: 100%;
}
.club-two-cn-two {
    width: 100%;
}
.club-two-cn-three {
    width: 100%;
}
.club-two-cn-four {
    width: 100%;
}

.club-tec {
    width: 100%;
}

.club-tec-in {
    width: 100%;
    margin: auto;
    display: flex;
    border-radius: .5rem;
}

.club-tec-one {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    background-color: rgb(151, 0, 3);
}

.tec-dm {
    width: 90%;
    background-color: white;
    padding: 1rem 1rem;
    margin: .4rem 0rem;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.club-tec-two {
    width: 80%;
}


/* ------------------- Home End ------------------- */

.footer-one {
    width: 100%;
}
.footer-one-in {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0rem;
}
.footer-one-in p {
    margin-right: 1rem;
    font-family: 1rem;
}
.footer-one-in img {
    width: 10%;
}

.footer-two {
    background-color: rgb(151, 0, 3);
}
.footer-two-in {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-two-in p {
    color: white;
    padding: 0.5rem 0rem;
    font-size: 1rem;
}

